@import url('conponents/navbar.css');
@import url('conponents/hero.css');
@import url('conponents/portfolio.css');
@import url('conponents/about.css');
@import url('conponents//footer.css');


body {
  background-color: white;
  max-width: 1500px;
}

html {
  scroll-behavior: smooth;
}