@import url('./components/navbar.css');
@import url('./components/hero.css');
@import url('./components/portfolio.css');
@import url('./components/about.css');
@import url('./components/footer.css');
@import url('./components/login.css');
@import url('./components/owner.css');
@import url('./components/card.css');
@import url('./components/loginform.css');
@import url('./components/tech.css');

/* Global layout settings */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Let content grow and footer stick to bottom */
body {
  flex: 1;
  scroll-behavior: smooth;
  background-color: white;
}

/* Optional: Wrap content in a centered container */
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

/* Footer should push down */
body > footer {
  margin-top: auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}