#portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  width: 1200px;
  margin: 50px;
  padding: 20px;
  border: 1px solid #97b7d7;
  border-radius: 10px;
  box-shadow: 0 10px 25px -5px #97b7d7;
}
.portfolio h2 {
  font-family: 'Poppins';
  font-size: 1.3rem;
  padding: 10px;
  text-align: center;
}

#projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.language-tag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 22px;
}

.language-pill {
  background-color: #97b7d7;
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.language-pill:hover {
  background-color: #6c9ec9;
  border: 1px solid #97b7d7;
}